.game-square{
  width: 100px;
  height: 100px;
  float:left;
  font-size: 90px;
  text-shadow: 2px -2px 3px rgba(150, 150, 150, 1);
  text-align:center;
  border: 2px solid white;
}

#cell2{
  border-color: white black black black;
}

#cell4{
  border-color: black black black white;
}

#cell6{
  border-color: black white black black;
}

#cell8{
  border-color: black black white black;
}

.clear{
    float: none;
    clear: both;
}

#game-status{
  font-size: 2em;
}

.row{
    width: 312px;
}
