.game-square{
  width: 100px;
  height: 100px;
  float:left;
  font-size: 90px;
  text-shadow: 2px -2px 3px rgba(150, 150, 150, 1);
  text-align:center;
}

.row-borders{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.col-borders{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.clear{
    float: none;
    clear: both;
}

#game-status{
  font-size: 2em;
}

.row{
    width: 312px;
}
